aiofiles
aiohttp
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
ntgcalls
pillow
psutil
py-tgcalls==0.9.7
pykeyboard
pymongo
pyrofork
python-dotenv
PyYAML
requests
speedtest-cli
spotipy
tgcrypto
yt-dlp
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/joetats/youtube_search@master
numpy
